.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
  }
  
  .feedbackItem {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }
  
  .feedbackItem.mdWidth {
    width: 70%;
  }
  
  .feedbackTitle {
    font-size: 1.5rem;
  }
  
  /* .feedbackDescription {
  } */
  
  .topicsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }
  
  .topic {
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
  
  .blueBackground {
    background-color: #cce4ff;
  }
  
  .greenBackground {
    background-color: #ccffcc;
  }
  
  .redBackground {
    background-color: #ffcccc;
  }
  
  /* .authorContainer {
  } */
  
  .authorName {
    font-weight: 600;
  }
  
  .loading {
    font-size: 1.5rem;
  }
  